* {
    padding: 0;
    margin: 0;
}

#home .col-lg-6 {
    height: 100vh;
    min-height: 800px;
    width: 100%;
}

#home .form-group {
    justify-content: center;
    display: flex;
}

#home .form-group input {
    width: 60%;
    min-width: 300px;
    background: transparent;
    border: 0;
    border-bottom: 2px solid grey;
    line-height: 40px;
}

#home hr {
    width: 70%;
    min-width: 300px;
    margin: 20px auto;
}

.left {
    background-color: #161530;
    height: 100vh;
    flex-wrap: wrap;
    color: white
}

.left img {
    max-width: 300px;
    margin: 0 auto;
}

.left p {
    text-align: justify;
    line-height: 30px;
    width: 80%;
    min-width: 300px;
    margin: 0 auto;
}

@media screen and (max-width: 767px) {
    .left p {
        font-size: 16px;
    }
    .left h1 {
        font-size: 30px;
    }
    .left img {
        width: 200px;
    }
}

.right {
    background-color: aliceblue;
}

.right img {
    max-width: 300px;
}