body {
    background-color: aliceblue;
}

.register-form {
    height: 100vh;
}

.card {
    box-shadow: 0 2px 4px 0 rgb(18, 102, 197), 0 3px 10px 0 rgb(18, 102, 197);
}

.card-header {
    font-weight: bold;
    background-color: rgb(18, 102, 197);
}

.card {
    background-color: rgb(111, 163, 223);
}

.register-form input {
    background: aliceblue;
    line-height: 40px;
    padding-left: 15px;
    border: 0;
    border-radius: 3px;
    width: 80%;
}

@media screen and (max-width: 767px) {
    .card {
        width: 90%;
    }
}