<form action="/profile/<%= pageUser %>/posts/<%= post._id %>/edit?_method=PUT" method="POST">
    <input type="text" value="<%= post.title %>" name="post[title]">
    <input type="text" value="<%= post.text %>" name="post[text]">
    <button type="SUBMIT">EDITAR</button>
</form>